body {
    font-family: Bradley Hand, cursive;
    background-color: #ffffff; /* Білий фон для всієї сторінки */
}

.header {
    background: url('img/plants.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
}

.new-thread input, .new-message input {
    width: 300px;
    padding: 8px;
}

.new-thread button, .new-message button {
    padding: 10px 15px;
    cursor: pointer;
}

#threadsList, #messagesList {
    list-style-type: none;
    padding: 0;
}

#threadsList li, #messagesList li {
    margin-top: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #B3A398;
    cursor: pointer;
    border-radius: 30px;
}

.new-thread {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px; /* Adjust this value as needed */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0; /* Впевніться, що немає зайвих відступів */
}

#threadsView, #messagesView {
    flex-grow: 1; /* Забезпечує використання доступного простору */
}

.forum-container {
    width: 80%;
    margin: 0 auto; /* Центрування контейнера */
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 400px); /* Зменшуємо мінімальну висоту на висоту хедера */
}



.thread-info {
    font-size: 0.8em;  /* Менший розмір шрифту */
    color: #777;       /* Темніший колір для тексту */
}

.likes {
    float: right; /* Розміщення справа */
    cursor: pointer;
    -webkit-user-select: none; /* Prevent text selection on Safari and iOS */
    user-select: none; /* Запобігання виділенню тексту при подвійному кліку */
}

.likes .like-count {
    margin-left: 5px;
}

.liked {
    color: red; /* Колір для "лайкнутого" стану */
}

.heart {
    fill: white;
    stroke: black;
    stroke-width: 1;
    width: 20px; /* Adjust size as needed */
    height: auto;
    transition: fill 0.3s ease; /* Smooth transition for fill color */
}

.liked .heart {
    fill: red; /* Fill color changes when liked */
}


.message-item {
    display: flex;
    justify-content: space-between; /* Aligns children to the extreme sides */
    align-items: center; /* Vertically centers the flex children */
    padding: 5px 10px; /* Adds some padding around items */
}

.message-text {
    flex-grow: 1; /* Allows the text to take up any extra space */
}

.message-likes {
    cursor: pointer;
    display: flex;
    align-items: center; /* Centers the heart vertically within the likes span */
}
